* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.sky {
  width: 100vw;
  height: 95vh;
  background-color: #4e8dd4;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  position: relative;
}

.sky-night {
  background-color: #04151d;
}

.building {
  width: 400px;
  height: 550px;
  background-color: #fe5f00;
  padding-top: 10px;

  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
}

.window {
  width: 80px;
  height: 80px;
  margin: 20px;
  background-color: #eee;
  box-shadow: 0 0 10px #fff;
  transition: 0.2s;
}

.window:hover {
  cursor: pointer;
}

.switch {
  background-color: transparent;
  border: none;
  outline: none;

  position: absolute;
  bottom: 0;
  right: 20px;
  font-size: 100px;

  color: #eee;
  text-shadow: 0 0 20px #fff;
  transition: 0.2s;
}

.switch:hover {
  cursor: pointer;
  transform: scale(0.98);
}

.ground {
  width: 100vw;
  height: 5vh;
  background-color: #3d3d3d;
}

.window-light-off {
  background-color: #333;
  box-shadow: none;
}

.switch-light-off {
  color: #000;
  text-shadow: none;
}
